<router-outlet></router-outlet>

<!-- <nav>
  <ul>
    <li><a routerLink="login" routerLinkActive="active">login</a></li>
    <li><a routerLink="dashboard" routerLinkActive="active">dashboard</a></li>
    <li><a routerLink="landingpage" routerLinkActive="active">landingpage</a></li>
    <li><a routerLink="register" routerLinkActive="active">register</a></li>
    <li><a routerLink="quiz" routerLinkActive="active">quiz</a></li>
    <li><a routerLink="result" routerLinkActive="active">result</a></li>
  </ul>
</nav> -->

<footer class="footer shadow bg-light mt-auto py-3 container-fluid">
  <div class="container text-center">
    <span class="text-muted">&copy; Yo Odd {{CURRENT_YEAR}}</span>
  </div>
</footer>